
*{margin: 0;padding: 0; font-family: 'Rubik', sans-serif;};


body{ height: 100px; font-size: 16px}
header{ height: 150px;background-color: #1F3E0F; }

footer {
	height: 50px;
	background-color: #1F3E0F;
	padding: 10px 0;
}

.container {
	margin: 0 auto;
	width: 960px;
}


#conteudo {
	padding: 30px 0;
	font-size: 16px;
}

#dt_clients {
	background-color: white;
}

#menu {
	text-align: center;
	color: black;
	float: right;
	padding: 50px 0;
}


#menu a{
	text-decoration: none;
	color: white;
	padding: 37px 40px; 
	text-shadow: 1px 1px 1px #111; 
}



#menu a:hover{ background-color:white; }

#tabela_pizza {
	margin: 25px;
}

#confirma {
	background-color: green;
	color: white;
}

.divbutton {
	font-size: 35px;
	cursor: pointer;
	padding: 5px;
	transition: all 0.2s ease-in-out;
	border-radius: 9px;
}

.divbutton:hover{
	color: white;
	transform: scale(1.2);
}

.containermenu {
	margin: 0 auto;
	width: 300px;
	height: 150px;
	border: solid 2px black;
}
